[Unit]
Description=display for miniature world, plays video and syncs lights. Starts on boot.
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/opt/pimediasync
EnvironmentFile=/etc/pimediasync.conf
ExecStart=/usr/bin/python3 app.py $APPLICATION_FLAGS


[Install]
WantedBy=multi-user.target